In [11]:
import pandas as pd

df = pd.read_excel("ESD.xlsx")
# print(df.head(10))
 # location df.loc[]
df.loc[(df["Bonus %"] == 0), "GetBonus"] = "no bonus"
df.loc[(df["Bonus %"] > 0, "GetBonus")] = "bonus"

print(df.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     bonus
1     0.00          China  Chongqing        NaT  no bonus
2     0.20  United States    Chicago        NaT     bonus
3     0.07  United States    Chicago        NaT     bonus
4     0.00  United States    Phoenix        NaT  no bonus
5     0.00          China  Chongqing        NaT  no bonus
6     0.10  United States    Phoenix        NaT     bonus
7     0.00  United States      Miami 2021-05-20  no bonus
8     0.06  United States     Austin        NaT     bonus
9     0.00  United States    Chicago        NaT  no bonus

In [9]:
data = pd.read_excel("practice1.xlsx")
print(data)

# crating a  calculated column from existed column

data["Full Name"] = data["First Name"].str.capitalize() +" "+ data["Last Name"].str.capitalize()
print(data)

  First Name  Last Name  Salary EEID
0       ross  tribbiani   20000   E1
1     rachel       bing   40000   E2
2     monica      green   25000   E7
3       joey     geller   60000   E8
4   chandler     buffay   23000   E4
5     phoebe       bing   45000   E5
  First Name  Last Name  Salary EEID        Full Name
0       ross  tribbiani   20000   E1   Ross Tribbiani
1     rachel       bing   40000   E2      Rachel Bing
2     monica      green   25000   E7     Monica Green
3       joey     geller   60000   E8      Joey Geller
4   chandler     buffay   23000   E4  Chandler Buffay
5     phoebe       bing   45000   E5      Phoebe Bing