In [2]:
import pandas as pd

dict = {"Fruits":["mango","apples","banana","papaya"],
       "Price":[100,150,50,35],
       "Quantity":[15,10,10,3]}
df1 = pd.DataFrame(dict)
print(df1)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     50        10
3  papaya     35         3

In [4]:
df2 = df1.copy()
df2.loc[0,"Price"]= 120
df2.loc[1,"Price"] = 175
df2.loc[3,"Price"]= 30
df2.loc[0,"Quantity"] =12
df2.loc[1,"Quantity"] = 15
df2.loc[3,"Quantity"] = 5
print(df2)

   Fruits  Price  Quantity
0   mango    120        12
1  apples    175        15
2  banana     50        10
3  papaya     30         5

In [10]:
# comparing 
print(df1.compare(df2))
# print(df1.compare(df2,align_axis =0))
print(df1.compare(df2,keep_equal =True))

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
3   35.0   30.0      3.0   5.0
  Price       Quantity
   self other     self other
0   100   120       15    12
1   150   175       10    15
3    35    30        3     5

In [14]:
# no change values are NaN
print(df1.compare(df2,keep_shape =True))
print()
#  change values only returned
print(df1.compare(df2,keep_shape =False))

  Fruits        Price        Quantity
    self other   self  other     self other
0    NaN   NaN  100.0  120.0     15.0  12.0
1    NaN   NaN  150.0  175.0     10.0  15.0
2    NaN   NaN    NaN    NaN      NaN   NaN
3    NaN   NaN   35.0   30.0      3.0   5.0

   Price        Quantity
    self  other     self other
0  100.0  120.0     15.0  12.0
1  150.0  175.0     10.0  15.0
3   35.0   30.0      3.0   5.0